/*#region START*/

/* COLORS */
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);

/* IMAGE URLs */
$bg-intro-desktop: url("../assets/bg-intro-desktop.png");
$bg-intro-mobile: url("../assets/bg-intro-mobile.png");
$icon-error: url("../assets/icon-error.svg");

/* BREAKPOINTS */
$breakpoint-bg: 376px;
$breakpoint-tablet: 768px;

/* @media only screen and (min-width: $breakpoint-tablet) */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background: $bg-intro-mobile $red no-repeat;

  @media only screen and (min-width: $breakpoint-bg) {
    display: flex;
    background: $bg-intro-desktop $red no-repeat;
    background-size: cover;
    justify-content: center;
  }
}

/*#endregion*/

.container {
  display: flex;
  flex-direction: column;
  margin: 3.2rem 0;
  padding: 2.4rem;

  @media only screen and (min-width: $breakpoint-tablet) {
    max-width: 1140px;
    flex-direction: row;
    align-items: center;
  }

  .text-block {
    color: white;
    text-align: center;

    @media only screen and (min-width: $breakpoint-tablet) {
      width: 50%;
      text-align: left;
      margin-right: 2.25rem;
    }

    h1 {
      font-size: 2.8rem;
      font-weight: bold;
      line-height: 3.6rem;

      @media only screen and (min-width: $breakpoint-tablet) {
        font-size: 5rem;
        line-height: 5.5rem;
      }
    }

    p {
      margin: 3.2rem 0;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2.6rem;

      @media only screen and (min-width: $breakpoint-tablet) {
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
    }
  }

  .form-block {
    @media only screen and (min-width: $breakpoint-tablet) {
      width: 50%;
    }

    .highlight {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 3.2rem;
      margin-bottom: 2.4rem;
      background: $blue;
      color: white;
      width: 100%;
      height: 8.8rem;
      box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
      border-radius: 10px;
      font-size: 1.5rem;
      line-height: 2.6rem;
      text-align: center;

      @media only screen and (min-width: $breakpoint-tablet) {
        height: 6rem;
      }

      p {
        margin: 0 6.4rem;
      }

      span {
        font-weight: 700;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      background: white;
      box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
      border-radius: 10px;
      padding: 2.4rem;

      @media only screen and (min-width: $breakpoint-tablet) {
        padding: 4rem;
      }

      .input-group {
        position: relative;
      }

      .hidden-label {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      input {
        width: 100%;
        height: 5.6rem;
        outline: none;
        border: 1px solid #dedede;
        border-radius: 5px;
        margin-bottom: 1.6rem;
        padding-left: 1.8rem;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2.6rem;
        color: #3D3B48;
      }

      input:focus {
        border: 1px solid #5E54A4;
      }

      .hidden {
        display: none;
      }

      .input-error {
        border: 2px solid #FF7979;
        color: #FF7979;
      }

      .error-message {
        position: absolute;
        right: 0;
        bottom: 0;
        font-style: italic;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.6rem;
        text-align: right;
        color: #ff7979;
      }

      .icon-error {
        position: absolute;
        right: 2.7rem;
        top: 25%;
      }

      button {
        color: white;
        background: $green;
        height: 5.6rem;
        outline: none;
        border: none;
        box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2.6rem;
        text-align: center;
        letter-spacing: 1px;
        cursor: pointer;
      }

      button:hover {
        background: #77e2b3;
      }

      p {
        margin-top: 0.8rem;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 2.1rem;
        text-align: center;
        color: #bab7d4;

        a {
          font-weight: bold;
          font-size: 11px;
          line-height: 21px;
          text-align: center;
          color: #ff7979;
        }
      }
    }
  }
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 2.4rem;
  font-size: 11px;
  text-align: center;
  color: white;
  margin: 0;

  @media only screen and (min-width: $breakpoint-bg) {
    bottom: 0.8rem;
  }
}
.attribution a {
  color: $blue;
}
